# Core functionality - changes here should be rare!
/src/app.py                   @shams-orakzai
/src/backend/database.py      @shams-orakzai
/src/backend/routers/auth.py  @shams-orakzai

# The frontend will need refactored soon to be more object oriented.
/src/static/   @shams-orakzai
